extends layout

append head
  link(rel="icon", href="/icons/" + status + ".png")
  if status == 'in-progress'
    meta(http-equiv="refresh", content="5")

block content
  if status == 'completed'
    .alert.success #{settings.serverAddress || 'The server'} has been reset.
  else if status == 'in-progress'
    .alert.intermediate #{settings.serverAddress || 'The server'} is resetting...
  else
    .alert.error An error occurred while trying to reset #{settings.serverAddress || 'the server.'}
    form(method="POST", action="/")
      button.green-button Try again

