html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-color: #bef;
}
body::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
main {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
.green-button {
  background-color: #5b5;
  color: #fff;
  border-radius: 4px;
  width: 784px;
  font-size: 24pt;
  padding: 8px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  width: 768px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert.success {
  color: #474;
  background-color: #dfd;
  border-color: #cec;
}
.alert.error {
  color: #a44;
  background-color: #fdd;
  border-color: #ecc;
}
.alert.intermediate {
  color: #863;
  background-color: #ffe;
  border-color: #fec;
}